[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scShardSplitRef"]
	path = scShardSplitRef
	url = https://github.com/cran/scShardSplitRef
